.MuiFilledInput-underline::before {
    border-bottom: none !important;
}
.navbar-toggler:focus {
    box-shadow: none;
}
textarea:focus-visible {
    outline: none;
}
input:focus-visible {
    outline: none;
}
